<!-- A footer block that appears at the bottom of page content -->
<!-- (distinct from Kostya's footer which is copyright notice etc -->

<style>
    * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.cf-column {
  float: left;
  width: 33.33%;
  padding: 10px;
  /* height: 300px; /* Should be removed. Only for testing */
}

/* Clear floats after the columns */
.cf-row:after {
  content: "";
  display: table;
  clear: both;
}
    #contentfooter {
        /* color:  white; */
        background-color: darkgray;
        padding-top: 10px;
        padding-left: 5px;
    }
</style>
<div class="clearfix"></div>
<div id="contentfooter">
  <br>
<div id="footerwidgets" class="cf-row mt-0 pt-3 pb-3 pl-5">
    <div class="cf-column col-md border-right border-light" id="fwidget1">
        <a href="/privacy.html">Privacy</a>
    </div>

    <div class="cf-column col-md border-right border-light" id="fwidget2">
        <a href="/clubpolicies.html">Club Policies</a>
    </div>

    <div class="cf-column col-md" id="fwidget3">
        <a href="/contact.html">Contact Us</a>
    </div>
</div>
<br>
 </div>
<div class="clearfix"></div>
