<!-- A footer block that appears at the bottom of page content -->
<!-- (distinct from Kostya's footer which is copyright notice etc -->

<style>
    #contentfooter {
        color:  white;
        background-color: darkslategray;
        padding-top: 10px;
        padding-left: 5px;
    }
</style>
<div id="contentfooter">
  <h3>Footer Block</h3>
  <p>This is a block under construction.</p>
  <br>
<div id="footerwidgets" class="row mt-0 pt-3 pb-3 pl-5">
    <div class="col-md border-right border-light" id="fwidget1">
        <h5>First col</h5>
        <p>Some placeholder text.</p>
    </div>

    <div class="col-md border-right border-light" id="fwidget2">
        <h5>Second col</h5>
        <p>Some more placeholder text.</p>
    </div>

    <div class="col-md" id="fwidget3">
        <h5>Third col</h5>
        <p>Some placeholder text.</p>
    </div>
</div>
<br><br>
 </div>
