<ul class="nav navbar-nav navbar-right">
  <!--li><a href="http://streathambrixtonchess.blogspot.com/" target="_blank">S&BC Blog</a></li -->

  <li>
    <a href="https://twitter.com/Streathamchess" target="_blank" title="Twitter" class="c-nav__share-link c-nav__share-link--twitter"  aria-label="S&BCC on Twitter" rel="nofollow" >
      <svg viewBox="0 0 20 20"><title>Twitter</title><path d="M20 3.8a8.2 8.2 0 01-2.36.65 4.12 4.12 0 001.8-2.27 8.22 8.22 0 01-2.61 1 4.11 4.11 0 00-7 3.74 11.65 11.65 0 01-8.44-4.3A4.11 4.11 0 002.66 8.1 4.09 4.09 0 01.8 7.59v.05a4.11 4.11 0 003.29 4 4.11 4.11 0 01-1.85.07 4.11 4.11 0 003.83 2.85A8.23 8.23 0 011 16.34a8.35 8.35 0 01-1-.06 11.61 11.61 0 006.29 1.84A11.59 11.59 0 0018 6.45v-.53a8.34 8.34 0 002-2.12z"/></svg>
    </a>
  </li>
  <li><a href="https://sites.google.com/site/chessatstreathamlibrary/" target="_blank">Chess@Library</a></li>
</ul>
