 {% assign current = page.url | downcase | split: '/' %}

 <ul class="nav nav-sidebar">
  <li {% if current[1] == 'index.html' %} class="active" {% endif %}> 
    <a href="/index.html">Welcome</a>
  </li>  
</ul>

<ul class="nav nav-sidebar">
  <li {% if current[1] == 'about' %} class="active" {% endif %}>
    <a href="/about">About us</a>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li {% if current[1] == 'noticeboard' %} class="active" {% endif %}>
    <a href="/noticeboard">Noticeboard</a>
  </li>
</ul>