<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{{ site.name }} - {{ page.title }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="We're a lively London chess club and welcome players of all ages and abilities. We play online during the pandemic. In more normal times we play social chess in Streatham, and league matches in Central London, South London and Surrey.">
<meta name="keywords" content="chess, chess club, streatham, brixton, tooting, balham, wandsworth, lambeth, london, south london, online chess, lichess">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link href="/css/bootstrap.css" rel="stylesheet">
{% if page.firebase == true %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
{% endif %}

{% if page.newpgn == true %}
<link href="/js/pgnviewer/css/pgnvjs.css" rel="stylesheet">
<script src="/js/pgnviewer/js/pgnvjs.js" type="text/javascript"></script>
{% endif %}

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

	<!-- top navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target=".sidebar-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div style="padding-left: 4px;">
					<span class="hidden-xs">
						<a class="navbar-brand" href="/">{{ site.name }}</a>
					</span>
					<span class="visible-xs" title="{{ site.name }}">
						<a class="navbar-brand" href="/">{{ site.shortname }}</a>
					</span>
				</div>
			</div>
			<div class="navbar-collapse collapse">{% include navigation-top.html %}</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
				{% include navigation-sidebar.html %}
			</div>

			<div class="col-sm-9 col-md-10 main" data-spy="scroll" data-target="#sidebar-nav">
	          <div class="row placeholders">
	            <h2 class="page-header">
    	          {{ page.title }}
        	    </h2>
    	        {{ content }}
                	{% include ipadnotice.html %}
        	  </div>
	        </div>

		</div>
	</div>
	

	<footer> {% include footer.html %} </footer>

	{% if page.jq_disable == true %}
	<script src="/js/bootstrap.min.js"></script>
	{% else  %}
	<script src="/js/combined.js"></script>
	{% endif %}

	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle=offcanvas]').click(function() {
				$('.row-offcanvas').toggleClass('active');
			});
		});
	</script>

	{% include google-analytics.html %}
</body>
</html>
